[Unit]
Description=mpd-mpris: An implementation of the MPRIS protocol for MPD
# Quitamos el comentario de Requires para crear la dependencia fuerte
Requires=mpd.service
# BindsTo hace que si MPD se detiene, mpd-mpris se detenga también al instante
BindsTo=mpd.service
After=mpd.service

[Service]
ExecStart=mpd-mpris -no-instance
Restart=on-failure
Type=dbus
BusName=org.mpris.MediaPlayer2.mpd

[Install]
# Cambiamos default.target por mpd.service
# Así solo se "instala" dentro del ciclo de vida de MPD
WantedBy=mpd.service
